<!DOCTYPE html>
<html>
<head lang="ja">
	<meta charset="UTF-8">
	<title>vj-screen(webgl入れてみた)</title>
	<script src="./js/lib.js" type="text/javascript"></script>
	<script src="socket.io/socket.io.js" type="text/javascript"></script>
	<!-- ↓これは今いるところから通信するっていう書き方// -->
	<script src="//code.jquery.com/jquery-1.11.1.js"></script>
<!--	<script src="./js/vj-screen.js"></script>-->
<script src="./js/vj-screen.js"></script>
	<!--以下glsl-->
	<script id="vs" type="x-shader/x-vertex">
	attribute vec3 position;
	attribute vec4 color;
	attribute vec2 textureCoord;
	attribute vec3 instancePosition;
	uniform mat4 mvpMatrix;
	varying vec4 vColor;
	varying   vec2 vTextureCoord;

	void main(void){
	    vColor        = color;
	    vTextureCoord = textureCoord;
	    gl_Position   = mvpMatrix * vec4(position+instancePosition, 1.0);
	}
	</script>
	<script id="fs" type="x-shader/x-fragment">
	precision mediump float;

	uniform sampler2D texture;
	varying vec4 vColor;
	varying vec2 vTextureCoord;
	void main(void){
		vec4 smpColor=texture2D(texture,vTextureCoord);
		gl_FragColor=vColor*smpColor;
	}
	</script>
</head>
<body>
	<canvas id="canvas"></canvas>
	<ul id="messages"></ul>

</body>
</html>
